<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!--stylesheet-->
    <link rel="stylesheet" href="./css/style.css"> 

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600&display=swap" rel="stylesheet">

    <!--responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1">


     <!--bootstrap css -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

     <!--icons-->
     <script src="https://kit.fontawesome.com/aa3b0616f8.js" crossorigin="anonymous"></script>

     

    <title> THE 7 </title>


    </head>
    <body>
    
   
    <!--responsive header -->
    
    <div class="header2  d-flex flex-column  align-items-center justify-content-center gap-3 "> 


      <a href="#!" > Home </a>

      <a href="#!"> Services  </a>

      <a href="#!"> Work </a>

      <a href="#!"> Blog </a>

      <a href="#!"> Pricing </a>

      <a href="#!"> Team  </a>

      <a href="#!"> Contact  </a>                






    </div>
    
    
    <!--banner section 1 -->

    <div class="bg  ">
      
      
        <!--header -->
        <div class ="header ">

          <div class="container  "> 
      
              <div class="row d-flex align-items-center py-1 py-md-3  "> 
      
                  <div class="col-9 col-md-3"> 
      
                      <p class="logo m-0"> The 7</p>
                    
                  </div>
      
                  <div class="col-3 col-md-9 text-end menuitems ">
      
                      <a href="#!" > Home </a>
      
                      <a href="#!"> Services  </a>
      
                      <a href="#!"> Work </a>
      
                      <a href="#!"> Blog </a>
      
                      <a href="#!"> Pricing </a>
      
                      <a href="#!"> Team  </a>
      
                      <a href="#!"> Contact  </a>
                    
                      <div class="bars"> <i class="fa-solid fa-bars"></i></div>
                  
                  </div>
              </div>
          </div>
          </div> 
          <!--header end -->

      <div class="container">

        <div class="row justify-content-center text-center  content-1"> 

          <div class="col-9" > 

            <h1 class="text-light m-0 "> WE ARE CREATIVE DESIGN AGENCY  </h1>

            <p class="text-light m-0 py-5 "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti at itaque est consequuntur labore animi sit numquam ipsam, reiciendis error, libero totam nostrum magnam hic sunt eaque eum dolorum et! Deleniti at itaque est consequuntur. </p>

            <a href="#!"  class="btn btn-outline-secondary "> Find Out More </a>


          </div>


        </div>

       


      </div>

      <svg class="curveUpColor  " xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#fff" stroke="#fff" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
   </svg>
  
      
  </div>

    


  <!--section 2 -->
    
  <div class="section2 my-5 "> 

    <div class="container "> 

      <div class="row text-center mb-5 "> 

        <div col="12"> 

          <h2 class="fs-1"> OUR SERVICES </h2>
          
        </div>

      </div>

        <div class="row text-center services ">

          <div class="col-12 col-md-6 col-lg-3 mb-5  mb-lg-0 serv1"> 

            <i class="fa-solid fa-heart mb-4"></i>

              <h4> Lovely Design </h4>

              <p class="my-5"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugiat aperiam perspiciatis itaque </p>

              <a href="#!"> Read More</a>

          </div>



          <div class="col-12 col-md-6 col-lg-3 mb-5 mb-lg-0 serv1"> 

            <i class="fa-solid fa-star mb-4"></i>

              <h4> Great concept </h4>

              <p class="my-5"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugiat aperiam perspiciatis itaque </p>

              <a href="#!"> Read More</a>

          </div>



          <div class="col-12 col-md-6 col-lg-3  mb-5 mb-lg-0 serv1"> 

            <i class="fa-solid fa-desktop mb-4"></i>

              <h4> Development </h4>

              <p class="my-5"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugiat aperiam perspiciatis itaque </p>

              <a href="#!"> Read More</a>

          </div>



          <div class="col-12 col-md-6 col-lg-3 mb-lg-0 serv1"> 

            <i class="fa-solid fa-user mb-4"></i>

              <h4> User Friendly  </h4>

              <p class="my-5"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis fugiat aperiam perspiciatis itaque </p>

              <a href="#!"> Read More</a>

          </div>




        </div>

  

        </div> 





    
      </div> <!--section2 ends -->






    
  
<!--section 3 -->

<div class="section3  ">
  
  

  <svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" fill="#fff" stroke="#fff" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
</svg>


  <div class="container my-5"> 

    <div class="row text-center">

      <div class="col-12">

        <h2 class="fs-1 m-0"> RECENT WORK  </h2>

      </div>

    </div>

  <div class="row"> <!--buttons -->

    <div class="col-12 text-center ">

      <div class="filter-btn-group  justify-content-center my-5  ">

        <button class=" links " data-filter="all"> All </button>

        <button class=" links" data-filter="illustration"> Illustration </button>

        <button class=" links" data-filter="web design"> Web Design  </button>

        <button class=" links" data-filter="photography"> Photography </button>


      </div>
  </div>

  </div> <!--buttons end -->



  <div class="row  "> <!--work images container -->

    <div class=" mb-3 col-md-4 portfolio-item" data-category="illustration">

      <div class="img-cont position-relative">

      <img src="./images/work/1-small.jpg" alt="Image 1" width="100%">

      <div class="overlay"> </div>

      <div class="img-content">  
        <p> Illustration</p>
        <h3> ASIAN TOURIST </h3>
      </div>
    </div>

   

    </div>


    <div class=" mb-3  col-12 col-md-4 portfolio-item" data-category="photography">

      <div class="img-cont position-relative">

        <img src="./images/work/5-small.jpg" alt="Image 1" width="100%">
  
        <div class="overlay"> </div>
  
        <div class="img-content">  
          <p> Photography </p>
          <h3> Blue Flowers  </h3>
        </div>
      </div>
      
    </div>

    <div class=" mb-3 col-12 col-md-4 portfolio-item" data-category="illustration">

      <div class="img-cont position-relative">

        <img src="./images/work/2-small.jpg" alt="Image 1" width="100%">
  
        <div class="overlay"> </div>
  
        <div class="img-content">  
          <p> Illustration</p>
          <h3> BATMAN WANNABE </h3>
        </div>
      </div>

    </div>

    <div class=" mb-3 col-12 col-md-4 portfolio-item" data-category="photography">

      <div class="img-cont position-relative">

        <img src="./images/work/8-small.jpg" alt="Image 1" width="100%">
  
        <div class="overlay"> </div>
  
        <div class="img-content">  
          <p> Photography</p>
          <h3> BIG CITY AND DREAMS  </h3>
        </div>
      </div>

    </div>

    <div class=" mb-3  col-12 col-md-4 portfolio-item" data-category="web design">

      <div class="img-cont position-relative">

        <img src="./images/work/6-small.jpg" alt="Image 1" width="100%">
  
        <div class="overlay"> </div>
  
        <div class="img-content">  
          <p> Web Design </p>
          <h3> MINIMAL NATURE </h3>
        </div>
      </div>

    </div>

    <div class="mb-3 col-12 col-md-4 portfolio-item" data-category="illustration">

      <div class="img-cont position-relative">

        <img src="./images/work/3-small.jpg" alt="Image 1" width="100%">
  
        <div class="overlay"> </div>
  
        <div class="img-content">  
          <p> Illustration</p>
          <h3> JACK THE SAILOR </h3>
        </div>
      </div>

    </div>

    <div class=" mb-3 col-12  col-md-4 portfolio-item" data-category="photography">

      <div class="img-cont position-relative">

        <img src="./images/work/7-small.jpg" alt="Image 1" width="100%">
  
        <div class="overlay"> </div>
  
        <div class="img-content">  
          <p> Photography</p>
          <h3> ENJOY LOVE </h3>
        </div>
      </div>

    </div>

    <div class=" mb-3 col-12 col-md-4 portfolio-item" data-category="illustration">

      <div class="img-cont position-relative">

        <img src="./images/work/4-small.jpg" alt="Image 1" width="100%">
  
        <div class="overlay"> </div>
  
        <div class="img-content">  
          <p> Illustration</p>
          <h3> RUN KITTY RUN </h3>
        </div>
      </div>

    </div>

    <div class=" mb-3  col-12 col-md-4 portfolio-item" data-category="web design">

      <div class="img-cont position-relative">

        <img src="./images/work/1-small.jpg" alt="Image 1" width="100%">
  
        <div class="overlay"> </div>
  
        <div class="img-content">  
          <p> Web Design </p>
          <h3> WOULD YOU? </h3>
        </div>
      </div>

    </div>



  </div> <!--images end-->


  <div class="row  text-center more">

    <div class="col-12 my-5 ">
  
      <a href="#!"> View More  </a>
  
    </div>
  
  
  </div>

</div> 

<svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1"fill="#fff" stroke="#fff" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
  <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
</svg>

</div>
<!--section3 end -->




<!--section 4-->

<div class="container my-5"> 

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active text-center p-5">
        <i class="fa-solid fa-quote-right"></i>
        <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, animi facere beatae labore iste fugit eos qui quam vel sapiente molestias quidem corrupti. Modi nihil, nesciunt in qui itaque ratione.</p>
        <p class="mb-3"><i>Nitesh</i></p>
      </div>
      <div class="carousel-item text-center p-5">
        <i class="fa-solid fa-quote-right"></i>
        <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, animi facere beatae labore iste fugit eos qui quam vel sapiente molestias quidem corrupti. Modi nihil, nesciunt in qui itaque ratione.</p>
        <p  class="mb-3"><i>Maan</i></p>
      </div>
      <div class="carousel-item text-center p-5">
        <i class="fa-solid fa-quote-right"></i>
        <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. In, animi facere beatae labore iste fugit eos qui quam vel sapiente molestias quidem corrupti. Modi nihil, nesciunt in qui itaque ratione.</p>
        <p  class="mb-3"><i>Jack</i></p>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
</div> <!--section 4 end-->



  
<!--section 5 -->

<div class="section5 mt-5">

  <svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#fff" stroke="#fff" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
</svg>

<div class="container">

<div class="row text-center my-5">

  <div class="col-12">

    <h2 class="fs-1 m-0">  OUR BLOG  </h2>

  </div>

</div>

<div class="row"> <!--blog boxes-->

    <div class="col-12 col-md-6 p-3"> <!--box 1 -->

      <div class="card" style="width:100;">
        <div class="img-card">
        <img src="./images/post/post-n1.jpg" class="card-img-top" alt="...">
      </div>
        <div class="card-body text-center">
          <h3 class="card-title m-1">DRAWING HOUR
          </h3>

          <P class="fs-6 date"> 15 January,2023-Graphic Design </P>

          <p class="card-text my-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <a href="#!"> Read More</a>
        </div>
      </div>


    </div>


    <div class="col-12 col-md-6 p-3"> <!--box 2 -->

      <div class="card" style="width:100;">
        <div class="img-card">
        <img src="./images/post/post-n2.jpg" class="card-img-top" alt="...">
      </div>
        <div class="card-body text-center">
          <h3 class="card-title m-1">PHOTOGRAPHY WORKSHOP
          </h3>

          <P class="fs-6 date"> 15 January,2023-Graphic Design </P>

          <p class="card-text my-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <a href="#!"> Read More</a>
        </div>
      </div>







    </div>


    <div class="col-12 col-md-6 p-3"> <!--box 3 -->

      <div class="card" style="width:100;">
        <div class="img-card">
        <img src="./images/post/post-n3.jpg" class="card-img-top" alt="...">
      </div>
        <div class="card-body text-center">
          <h3 class="card-title m-1">ON VACATION
          </h3>

          <P class="fs-6 date"> 15 January,2023-Graphic Design </P>

          <p class="card-text my-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <a href="#!"> Read More</a>
        </div>
      </div>







    </div>



    <div class="col-12 col-md-6 p-3"> <!--box 4 -->

      <div class="card" style="width:100;">
        <div class="img-card">
        <img src="./images/post/post-n4.jpg" class="card-img-top" alt="...">
      </div>
        <div class="card-body text-center">
          <h3 class="card-title m-1">YOU HAVE TO TAKE BREAKS 
          </h3>

          <P class="fs-6 date"> 15 January,2023-Graphic Design </P>

          <p class="card-text my-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

          <a href="#!"> Read More</a>
        </div>
      </div>







    </div>


</div>


<div class="row  text-center more">

  <div class="col-12 my-5 ">

    <a href="#!"> View More  </a>

  </div>


</div>

</div>


</div> <!--section 5 end -->




<!--section 6 -->

<div class="sec6-bg " id="main">

  <svg class="curveDownColor2" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="120" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
  </svg>

  <svg class="curveUpColor3  " xmlns="http://www.w3.org/2000/svg" version="1.1" fill="#212529" stroke="#212529" width="100%" height="150" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
  </svg>





  <div class="container">

    <div class="row">

      <div class="p-5 col-12 col-md-4"> 
      <div class="  text-center">

        <i class="fa-solid fa-mug-hot "></i>

        <h3 class="my-3 text-light count" max-data="100">  1 cups </h3>

        <p class="text-light"> Average weekly coffee drank </p>

      </div>
    </div>

    <div class="p-5 col-12 col-md-4"> 
      <div class="  text-center">

        <i class="fa-solid fa-chevron-left "></i> <i class="fa-solid fa-chevron-right "></i>

        <h3 class="my-3 text-light count" max-data="300"> 1  Lines  </h3>

        <p class="text-light"> Average lines of code  </p>

      </div>
    </div>
    
    <div class="p-5 col-12 col-md-4"> 
      <div class="  text-center">

        <i class="fa-solid fa-trophy "></i>

        <h3 class="my-3 text-light count" max-data="450"> 1 Customesr  </h3>

        <p class="text-light"> Average annual happy clients </p>

      </div>

    </div>

  </div>

  </div>

</div>



<!--footer -->


<div class="footer bg-dark py-5"> 

  <div class="container mt-5">

    <div class="row text-light mb-5">

    <div class="col-12 col-md-3 mb-3 mb-md-0"> 

      <h3 class="mb-3"> About </h3>

      <p> The pain itself is very important, the sadipscing elitr will be established, but the diam nonumy eirmod eirmod like work</p>
    
    </br> 

      <p>And with great pain there was nothing but the pleasure of the yard. </p>

    </div>

    <div class="col-12 col-md-3 mb-3 mb-md-0"> 

      <h3 class="mb-4"> RECENT POSTS  </h3>

      <ul> 

        <li> Not even bed </li>

        <li> Euismod pulvinar  </li>

        <li> It was weekend  </li>

        <li> Euismod pulvinar </li>

        <li> It was a weekend  </li>

      </ul>

    </div>

    <div class="col-12 col-md-3 mb-3 mb-md-0"> 

      <h3 class="mb-4"> More info </h3>

      <p> The pain itself is very important, the sadipscing elitr will be established, but the diam nonumy eirmod eirmod like work</p>
    
    </br> 
    
      <p>And with great pain there was nothing but the pleasure of the yard. </p>

    </div>


  <div class="col-12 col-md-3 mb-3 mb-md-0"> 

      <h3 class="mb-4"> Flickr Feed  </h3>


    <div class="row ">
      
      <div class=" col-2 col-md-4  mb-2"> 

        <img src="./images/flickr-widget/flickr1.jpg" width="100%" height="100%"> 

      </div>

      <div class="col-2 col-md-4 mb-2"> 

        <img src="./images/flickr-widget/flickr2.jpg" width="100%" height="100%"> 

      </div>

      <div class="col-2 col-md-4  mb-2"> 

        <img src="./images/flickr-widget/flickr3.jpg" width="100%" height="100%"> 

      </div>

      <div class="col-2 col-md-4  "> 

        <img src="./images/flickr-widget/flickr4.jpg" width="100%" height="100%"> 

      </div>

      <div class="col-2 col-md-4 "> 

        <img src="./images/flickr-widget/flickr5.jpg" width="100%" height="100%"> 

      </div>

      <div class="col-2 col-md-4 "> 

        <img src="./images/flickr-widget/flickr6.jpg" width="100%" height="100%"> 

      </div>

    </div>



  </div>


</div>

<div class="row text-light text-center mt-5"> 
 
    <div class="col-12 ">

      <i class="fa-brands fa-facebook  fs-3"></i>

      <i class="fa-brands fa-twitter ms-5 fs-3"></i>

      <i class="fa-brands fa-linkedin ms-5 fs-3"></i>

      <i class="fa-brands fa-instagram ms-5 fs-3"></i>


      <p class="mt-3 "> © 2016 | All Rights Reserved Created By Template Stock </p>


    </div>

</div> 

</div> <!--footer end -->





























































  <script src="./js/script.js"> </script>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>